<!--/*FILEPATH: /home/alex/git/brewcomp/src/main/resources/templates/fragments/meta.html */-->

<!DOCTYPE html>
<html>

<head>
    <th:block th:fragment="meta">
        <meta charset="UTF-8">
        <meta name="description" content="Description of your website">
        <meta name="keywords" content="keywords, separated, by, commas">
        <meta name="author" content="Your Name">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="index, follow">
        <meta name="theme-color" content="#ffffff">
    </th:block>

</head>

<body>
    <!--/*Your website content here */-->
</body>

</html>