<!--/*FILEPATH: /home/alex/git/brewcomp/src/main/resources/templates/fragments/header.html */-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xml:lang>

<head>

    <th:block th:replace="~{fragments/header :: header}" />
    <title>My Website</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--/*JQuery */-->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <!--/*PopperJS */-->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>

    <!--/*Bootstrap */-->
    <script src=" https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js "></script>

    <!--/*Bootstrap Icons*/-->
    <link href=" https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.min.css " rel="stylesheet">

    <!--/*Bootswatch */-->
    <link class="theme" href="https://bootswatch.com/5/cerulean/bootstrap.min.css" rel="stylesheet">

    <!--/*Backbone.js */-->
    <script src="https://cdn.jsdelivr.net/npm/backbone@1.5.0/backbone-min.min.js"></script>

    <!--/*Underscore.js */-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.13.6/underscore-min.js"></script>


    <!--/*JQuery UI */-->
    <script src=" https://cdn.jsdelivr.net/npm/jqueryui@1.11.1/jquery-ui.min.js "></script>
    <link href=" https://cdn.jsdelivr.net/npm/jqueryui@1.11.1/jquery-ui.min.css " rel="stylesheet">
    </th:block>

    <script>
        $(document).ready(function() {
            $('.bi-heart').hover(function() {
                $(this).removeClass('bi-heart').addClass('bi-heart-fill');
            }, function() {
                $(this).removeClass('bi-heart-fill').addClass('bi-heart');
            });
        });

        //do the same for the comment icon

        $(document).ready(function() {
            $('.bi-chat-dots').hover(function() {
                $(this).removeClass('bi-chat-dots').addClass('bi-chat-dots-fill');
            }, function() {
                $(this).removeClass('bi-chat-dots-fill').addClass('bi-chat-dots');
            });
        });

        //when save-bar is hovered over, change the icon to a filled bookmark
        $(document).ready(function() {
            $('.save-bar').hover(function() {
                $(this).children().removeClass('bi-bookmark').addClass('bi-bookmark-fill');
            }, function() {
                $(this).children().removeClass('bi-bookmark-fill').addClass('bi-bookmark');
            });
        });

        //do the same for the report icon
        $(document).ready(function() {
            $('.report-bar').hover(function() {
                $(this).children().removeClass('bi-flag').addClass('bi-flag-fill');
            }, function() {
                $(this).children().removeClass('bi-flag-fill').addClass('bi-flag');
            });
        });
        
    </script>

</head>

<body>
    <div class="card border-primary mb-3" style="width: 20rem;" th:fragment="recipe-card(recipe)">
        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
                <h4 class="card-title">
                    <th:block th:text="${recipe.name}">Recipe name</th:block>
                </h4>
                <div class="dropdown show">
                    <button class="btn dropdown-toggle-no-arrow" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="bi bi-three-dots"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item save-bar" href="#">Save
                            <i class="bi bi-bookmark"></i>
                        </a>
                        <a class="dropdown-item report-bar" href="#">Report
                            <i style="color:#FF474C; opacity: 25;" class="bi bi-flag"></i>
                        </a>
                    </div>
                </div>
            </div>
            <h6 class="card-subtitle mb-2 text-muted" th:text="${recipe.author}">Recipe Creator</h6>
            <h6 th:if="${recipe.parentID} != -1" style="position: relative;">
                <a href="#" th:href="@{/recipes/{pid} (pid=${recipe.parentID})}" th:text="${recipe.parentName} + ' &rarr;'"
                    class="link-opacity-100 card-link">Original
                    Recipe &rarr;</a>
            </h6>

        </div>
        <div class="card-body">
            <p class="card-text" th:text="${recipe.description}">recipe desc</p>
            <a href="#" th:href="@{/recipes/{rid}(pid=${recipe.id})}" class=" card-link">full recipe
                &rarr;</a>
        </div>
        <div class="card-footer text-right">
            <span class="mr-2"><a href="#"><i class="bi bi-heart" style="color:#FF474C"></i></a> 10 likes</span>
            <span><i class="bi bi-chat-dots"></i> <a href="#">5 comments &rarr;</a></span>
        </div>
    </div>
</body>

</html>